body {
    text-align: center;
    font-family: sans-serif;
}

.square {
    text-align: center;
    width: 50px;
    background: #eee;
    display: inline-block;
    padding: 25px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: #eee;
}

.player, .winner {
    font-size: 30px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background: #eee;
    cursor: pointer;
}